html, body {
  height: 100%;
  /* background-image:url(paper.jpg); */
  background-color: #F4EDBC;
}

body {
  margin: 0;
}

/* HEADER */

.header {
  height: auto;
  width: 100%;
  font-family: 'Caveat Brush', cursive;
  text-align: center;
}

.header h1 {
  font-size: 200px;
  margin-bottom: 0;
  margin-top: 0;
}

.header h3 {
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 100px;
}

/* FOOTER */

.footer {
  width: 100%;
  height: auto;
  font-family: 'Caveat Brush', cursive;
  text-align: right;
  margin-top: 50px;
  margin-right: 10px;
}

.footer h3 {
  font-size: 20px;
}

.footer h2 {
  font-size: 50px;
  text-align: center;
}

/* BODY */

.comics {
  display: block;
  width: 95%;
  height: 50vh;
  margin: 0 2.5%;
}

.image {
  float: left;
  height: 44vh;
  width: 40vw;
  margin: 0 5vh;

}

.image img {
  max-width: 100%;
  max-height: 100%;

  border: 10px black solid;
  border-radius: 20px;
  margin: 0.3vh 0;
}

.text {
  float: left;
  height: 44vh;
  width: 40vw;

  margin: 0 5vh;
  border: 10px black solid;
  border-radius: 20px;
  font-family: 'Caveat Brush', cursive;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.text p {
  max-width: 100%;
  max-height: 100%;
  margin-top: 50px;
}

.stroke {
  position: relative;
  display: block;
  height: 65vh;
  width: 70vw;
  margin: 0 auto;
}

.stroke img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
}

.white {
  position: absolute;
  width: 100vw;
  height: 65vh;
  z-index: 1;
  /* background-image: url('paper.jpg'); */
  background-color: #F4EDBC;
}

#owlpanel {
  position: relative;
}

#owl {
  position: absolute;
  width: 10vw;
  height: 10vh;
  border: none;
  visibility: hidden;
}

#shovel {
  position: absolute;
  height: 30vh;
  width: auto;
  border: none;
  top: 10vh;
  right: 21vw;
}
